VITE_SUPABASE_URL=https://syleexexwatlkadocuio.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5bGVleGV4d2F0bGthZG9jdWlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTg2MjAsImV4cCI6MjA5MDc5NDYyMH0.sIrmRgHmjlomlKXKB47fqvIRpShbVTlu9zqlGxStH0Y